

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(147, 197, 230) 10%,
    rgb(17, 20, 226) 190%
  );
}

.box {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  height: 50%;
  width: 35%;
}

h1 {
  text-align: center;
}
